<div class="flex w-screen-xl gap-1">
  <div class="lg:w-1/6 lg:h-[60vh]">
    <button
      mat-raised-button
      (click)="routeAvatar('profile/profile-orders')"
      class="raised"
    >
      ORDERS
    </button>
    <button
      mat-raised-button
      (click)="routeAvatar('profile/profile-solutions')"
      class="raised"
    >
      SERVICES
    </button>
    <button
      mat-raised-button
      (click)="routeAvatar('profile/profile-accounts')"
      class="raised"
    >
      ACCOUNTS
    </button>
    <button
      mat-raised-button
      (click)="routeAvatar('profile/profile-contacts')"
      class="raised"
    >
      CONTACTS
    </button>
  </div>
  <div class="w-5/6 lg:w-full border border-teal-700">
    <h2>Account</h2>
    <router-outlet></router-outlet>
  </div>
</div>
