<div>
  <button class="btn btn-action w-full my-1" routerLink="/new_product">
    Добавить номенклатуру
  </button>
</div>
<table class="mx-auto w-full" *ngIf="productService.products">
  <tr class="hidden lg:grid grid-cols-9 admin_table__header">
    <th>Изображение</th>
    <th>Код</th>
    <th>Артикул</th>
    <th>Наименование</th>
    <th>Производитель</th>
    <th>Категория</th>
    <th>Количество</th>
    <th>Цена закупки</th>
    <th>Действие</th>
  </tr>

  <tr *ngFor="let product of productService.products "
      routerLink="/new_product"
      class="grid grid-cols-9 admin_table__body"
  >
    <td>
      <img [src]="product.imageUrl" alt="{{product.title}}"
           class="mx-auto image-circle">
    </td>
    <td>{{ product.code }}</td>
    <td>{{ product.article }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.manufacturer?.title }}</td>
    <td>{{ product.categoryId | getCategoryTitleById }}</td>
    <td>{{ product?.stores?.[0]?.ProductStore?.qty }}</td>
    <td>{{ product?.stores?.[0]?.ProductStore?.priceIn | currency: 'EUR ' }}</td>
    <td>
      <div *ngIf="isAdmin">
        <fa-icon stopPropagation class="px-2 text-amber-600 cursor-pointer"
                 [icon]="editIcon"
                 (click)="update(product)">update
        </fa-icon>
        @if (product?.stores?.[0]?.ProductStore?.qty === 0) {
          <fa-icon stopPropagation class="px-2 text-red-600 cursor-pointer" (click)="delete(product.id)"
                   [icon]="deleteIcon">delete
          </fa-icon>
        }
      </div>
    </td>
  </tr>
</table>
