<div class="flex flex-row gap-2">
  <div class="w-full">
    <!--    <div>-->
    <!--      <button class="btn btn-action w-full my-1" (click)="modalService.openModal('Новый контрагент')">Добавить клиента-->
    <!--      </button>-->
    <!--    </div>-->
    <table class="mx-auto w-full items-center">
      <tr class="w-full grid grid-cols-6 px-4 py-1 justify-between
    border border-slate-500 h-[50px] items-center">
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Эл. почта</th>
        <th>Телефон</th>
        <th>Описание</th>
        <th></th>
      </tr>
      @for (customer of customerService.customers; track customer.id) {
        @if (customer) {
          <!--              (click)="modalService.openModal('Новый контрагент')"-->
          <tr stopPropagation
              class="grid grid-cols-6 mt-1 px-4 py-2 text-lg text-center
        items-center cursor-pointer select-none border-b border-slate-500"
          >
            <td>{{ customer.firstname }}</td>
            <td>{{ customer.lastname ? customer.lastname : '' }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.description }}</td>
            <td>
              <fa-icon [icon]="editIcon" class="px-2 text-amber-600 cursor-pointer"
                       stopPropagation
                       (click)="this.update(customer)"
              ></fa-icon>
              <fa-icon [icon]="deleteIcon" class="px-2 text-red-600 cursor-pointer "
                       stopPropagation
                       (click)="delete(customer.id!)"
              ></fa-icon>
            </td>
          </tr>
        } @else {
          <div class="grid w-[300px] text-center">
            <h4 class="text-white text-center">Данных нет</h4>
          </div>
        }
      }

    </table>
  </div>
</div>

<ng-container *ngIf="modalService.isVisible$()">
  <app-modal [title]="modalService.titleSing()">
    <app-customer-form></app-customer-form>
  </app-modal>
</ng-container>
