<main>
  <button class="btn btn-action mr-1 my-2 w-full" (click)="showIncomingInvoice()">Приходные накладные</button>
  <button class="btn btn-action mr-1 mb-2 w-full" (click)="showOutgoingInvoice()">Расходные накладные</button>
  <table class="mx-auto w-full justify-between">
    <tr class="w-full grid grid-cols-6 px-4 py-2 justify-between
    border border-slate-500 h-[50px] items-center">
      <th>Дата</th>
      <th>Номер</th>
      <th>Тип документа</th>
      <th>Контрагент</th>
      <th>Сумма</th>
      <th>Действие</th>
    </tr>

    @if (invoices.length === 0) {
      <div>Данных нет</div>
    }

    @for (invoice of invoices; track invoice.id) {
      <tr stopPropagation
          (click)="viewInvoice(invoice)"
          class="grid grid-cols-6 mt-0.5 px-4 py-2 text-center
        items-center cursor-pointer select-none border-b border-slate-500">
        <td>{{ invoice.date | date:  'd/M/y' }}</td>
        <td>№ {{ invoice.doc_number }}</td>
        @if (invoice.type === 'in') {
          <td>Приходная накладная</td>
        } @else {
          <td>Расходная накладная</td>
        }
        <td>{{ invoice.customer?.firstname + " " + invoice.customer?.lastname }}</td>
        <td>{{ invoice.amount }} EUR</td>

        <td>
          <div *ngIf="isAdmin">
            <fa-icon stopPropagation class="px-2 text-amber-600 cursor-pointer"
                     [icon]="editIcon">
              update
            </fa-icon>
            <fa-icon stopPropagation class="px-2 text-red-600 cursor-pointer"
                     [icon]="deleteIcon"
            >delete
            </fa-icon>
          </div>
        </td>
      </tr>
    }
  </table>
</main>

