<div class="w-full md:w-1/2 mb-5 lg:w-full ">
  <h5 class="font-bold text-lg text-gray-700 uppercase mb-2">Popular news</h5>
  <ul>
    <li class="px-1 py-4 border-y border-white hover:border-gray-200  ">
      <a href="#" class="flex items-center text-gray-600">
        <span class="inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-green-500 to-green-700"></span>
        Vue
        <span class="text-gray-500 ml-auto">23 articles</span>
      </a>
    </li>
    <li class="px-1 py-4 border-y border-white hover:border-gray-200  ">
      <a href="#" class="flex items-center text-gray-600">
        <span class="inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-orange-500 to-orange-700"></span>
        Svelte
        <span class="text-gray-500 ml-auto">20 articles</span>
      </a>
    </li>
    <li class="px-1 py-4 border-y border-white hover:border-gray-200  ">
      <a href="#" class="flex items-center text-gray-600">
        <span class="inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-red-500 to-red-700"></span>
        Angular
        <span class="text-gray-500 ml-auto">15 articles</span>
      </a>
    </li>
    <li class="px-1 py-4 border-y border-white hover:border-gray-200  ">
      <a href="#" class="flex items-center text-gray-600">
        <span class="inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-blue-500 to-blue -700"></span>
        React
        <span class="text-gray-500 ml-auto">7  articles</span>
      </a>
    </li>
  </ul>
</div>
