<!-- pagination -->
<div class="mt-20 mb-10">
  <ul class="flex justify-center">
    <li><a href="#" class="pagination-item rounded-l-2xl">Previous</a></li>
    <li><a href="#" class="pagination-item text-blue-500 hover:bg-blue-100">1</a></li>
    <li><a href="#" class="pagination-item">2</a></li>
    <li><a href="#" class="pagination-item">3</a></li>
    <li><a href="#" class="pagination-item">4</a></li>
    <li><a href="#" class="pagination-item">5</a></li>
    <li><a href="#" class="pagination-item rounded-r-2xl">Next</a></li>
  </ul>
</div>
