@if (authService.isAdmin$()) {
<div class="wrapper">
  <header class="flex items-center justify-between px-4">
    <div>
      <button (click)="showSideBar()">
        <fa-icon [icon]="menuIcon" class="px-2"></fa-icon>
      </button>
      <a>{{ settingService.setting?.firmName }}</a>
    </div>
    <nav>
      <a class="header-btn cursor-pointer" (click)="exit()">Выход</a>
      <!--        <button mat-raised-button (click)="exit()" class="px-2 inline-flex">-->
      <!--          <span>Выход </span>-->
      <!--          <fa-icon [icon]="logout" class="px-2"></fa-icon>-->
      <!--        </button>-->
    </nav>
  </header>
  <main>
    <div class="flex w-screen-xl gap-1">
      @if (isSideBarShow()) {
      <div class="md:w-full lg:w-1/6 bg-black">
        <app-sidebar></app-sidebar>
      </div>
      } @if (isSideBarShow()) {
      <div class="hidden lg:w-5/6">
        <router-outlet></router-outlet>
      </div>
      } @else {
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
      }
    </div>
  </main>
</div>
} @else {
<app-header></app-header>
<app-navigation></app-navigation>
<div class="max-w-screen-2xl mx-auto">
  <app-main></app-main>
</div>
<app-footer></app-footer>
}
