.phone-number {
  display: flex;
  justify-content: center;
  color: #0b4b7d;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 1%;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
