<div class="container-fluid mt-2">
  <!-- <a routerLink="" class="uppercase font-bold text-pink-800">{{
    settingService.setting?.firmName
  }}</a> -->
  <div>
    <a routerLink="">
      <img class="h-10" src="./assets/images/Eviks_logo.webp" alt="" />
    </a>
  </div>
  <div class="mx-1">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <div class="lg:flex items-center">
        <input
          formControlName="search"
          type="text"
          class="input w-[200px] mr-2"
          placeholder="Пошук товару..."
        />
      </div>
    </form>
  </div>

  <div class="hidden lg:phone-number">
    <div>
      <img src="/assets/images/phone.png" alt="phone" class="mr-2.5" />
    </div>
    <div class="flex flex-col">
      <span class="text-gray-800 font-semibold m-0 tracking-widest"
        >+380679423431</span
      >
      <span class="m-0 font-light">ТОВ EVIKS</span>
    </div>
  </div>
  <nav class="flex items-center">
    <ul class="hidden lg:inline-flex items-center">
      <li><a href="#" class="header-link">Про нас</a></li>
      <li><a href="#" class="header-link">Контакти</a></li>
    </ul>
    <ul class="hidden lg:inline-flex items-center">
      <li>
        @if (authService.isAuth$()) {
        <a class="header-btn cursor-pointer" (click)="authService.logout()"
          >Выход</a
        >
        } @else {
        <a class="header-btn cursor-pointer" routerLink="login">Увійти</a>
        }
      </li>
      @if (!authService.isAuth$()) {
      <li>
        <a class="header-btn cursor-pointer" routerLink="registration"
          >Реєстрація</a
        >
      </li>
      } @if (authService.isAuth$()) {
      <li>
        <a class="header-btn cursor-pointer" routerLink="order">Кошик</a>
      </li>
      <li>
        <a class="header-btn cursor-pointer" routerLink="profile">Профіль</a>
      </li>
      }
    </ul>
  </nav>
  <button class="md:hidden inline-block">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
</div>

<ng-container *ngIf="clientService.isVisible$()">
  <app-basket-modal>
    <app-order></app-order>
  </app-basket-modal>
</ng-container>
